@use "../../../../assets/styles/variables";

// *{
// font-size: 1.6rem;
// }

nav.navbar{
  background-color: variables.color(white);
}
a.nav-link{
  position: relative;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: variables.color(coffe);
  text-transform: capitalize;
}
a.nav-link::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 3px;
  width: 0px;
  border-radius: 2px;
  // background-color: rgb(38, 230, 16)!important;
  background-color: variables.color(green);
  transition: (0.4s ease );
}
a.nav-link:hover::after{
  width: 100%;
}
a.active{
  color: variables.color(coffe);
}
a.active::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  background-color: variables.color(green);
  transition: (0.4s ease );
}
div.navbar-collapse{
  justify-content: center;
// border: solid 1px red;
}
button.navbar-toggler{
  border: none;
}
button.navbar-toggler:active{
  border: none;
}
button.navbar-toggler:focus{
  border: none;
  box-shadow: none;
}
.img{
  border-radius: 50%;
  overflow: hidden;
  object-fit: contain;
  width: 50px;
  scale: 1.5;
  // border: solid 1px;
}
.nav-link{
  font-weight: 500;
  // font-size: larger;
}

@media (min-width: 768px){
  .contPerfil{
    position: absolute;
    right: 0;
  }
  *.collapsing{
    height: auto;
    animation: none;
    transition: 0s;
  }

}
nav{
overflow: hidden;
// background-color: red;
border-radius: 0 0 20px 20px;
  margin: 0!important;
}
