@use '../../../../../../../assets/styles/variables';

.user__data{
  font-size: 20px;
  color: variables.color(coffe);
  font-weight: 300;
}
h1 , h2 , h3 , h4 , h5 , h6{
  color: variables.color(yellow);
}
.cont__perfil{
  // background-color: red;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.cont__img{
  display: flex;
  justify-content: center;
}
.cont__btn{
 display: flex;
 gap: 4px;
}
.color{
  color: variables.color(yellow);
}
