@use "../../../../assets/styles/variables";
*{
  color:variables.color(text-white);
}
footer{
  // height: 600px;

  // width: 100%;
  display: flex;
  // border: solid 1px;
  flex-direction: column;
  justify-content: end;
  background-repeat: no-repeat;
  background-size:cover;
  object-fit: cover;
  min-height:500px;

  margin: 0;
  // background-color: variables.color(coffe-dark);
}
.footer-p{
  background-color: variables.color(coffe-dark);
}
@media (min-width: 758px){
  footer{
    min-height:300px;
  }
}
