$colors: (
    blue: #006CB6,
    sky-blue: #1FC3F3,
    blue-dark: #03395F,
    blue-light: #006CB6,
    text-white: #FFFFFF,
    white: #FFFFFF,
    yellow: #cfae1d,
    coffe-dark: #8f623a,
    coffe: #785434,
    green: #45965E,
    orange-dark: #E84829
);

$padding: 10px;
$margin: 10px;

$screen-desktop: 950px;
$screen-tablet: 750px;

$size: 30px;

@function color($color-name) {
    @return map-get($colors, $color-name);
}
