$colors: (
    blue: #006CB6,
    sky-blue: #1FC3F3,
    blue-dark: #03395F,
    blue-light: #006CB6,
    text-white: #FFFFFF,
    white: #FFFFFF,
    yellow: #1dcf8e,
    coffe-dark: #077261,
    coffe: #ffc525,
    green: #e64141,
    orange-dark: #7c0146
);

$padding: 10px;
$margin: 10px;

$screen-desktop: 950px;
$screen-tablet: 750px;

$size: 30px;

@function color($color-name) {
    @return map-get($colors, $color-name);
}
